@import 'imports/reset'
@import 'imports/fonts'
@import 'imports/colors'


body
  font-intro()


.box
  width: 100%

div
  &.blue
    background: blue
  &.grey
    background: grey
    color: white
  &.dgrey
    background: dgrey
    color: white

a
  text-decoration: none
