@import 'imports/reset'
@import 'imports/fonts'
@import 'imports/colors'


body
  //font-intro()
  font-family: "Helvetica Neue", Arial, sans-serif


.box
  width: 100%

div
  &.blue
    background: blue
  &.grey
    background: grey
    color: white
  &.dgrey
    background: dgrey
    color: white

a
  text-decoration: none


.content
  position: relative
  .box
    height: 50vh
    .left, .right
      width: 50%
      display: block
      float: left
      height: 100%
  .statement, .message
    width: 100%
    text-align: center
    font-size: 15vw
    position: relative
    top: 50%
    transform: translateY(-50%)
  .message
    font-size: 2vw
    @media all and (max-width: 800px)
      font-size: 6vw

::selection
  background: blue
