include ./head
		title #{title}


	body.hat
		.wrap
			.banner.trans

				.logo
					include ./logo

				a(style="color:#363636")

				.menu-button.trans
					span MENU
					img(src="images/menu_icon_small.png")


			.main
				.menu

					include ./menu

				.top
					img.diamond(src="/images/diamond_w.png" alt="")

				.content.blue
					p.text-large.text-white.text-indent
						| About me
					br
					h3.text-med.text-black.text-indent
						| Android. JavaScript. Node.js. Web. Linux. Developer
						br
						br
						| Electronic. RC. Radio. Builder
				.content.white
					br
					h1.text-large.text-grey.text-indent
					br
					br
					.blocks
						p.text-grey.text-indent.text-med
							a(href="https://github.com/stevelacy" target="_blank") Github.com/stevelacy
							br
							a(href="https://twitter.com/SteveDeLacy" target="_blank") Twitter.com/stevedelacy
							br
							a(href="http://about.me/stevelacy" target="_blank") About.me/stevelacy



				include ./footer
