include ./head
		title #{title}


	body
		.wrap
			.banner.trans

				.logo
					include ./logo

				a(style="color:#363636")

				.menu-button.trans
					span MENU
					img(src="images/menu_icon_small.png")


			.main
				.menu

					include ./menu


				.spacer
				.content.white
					.center-block
						p.text-large.text-blue
							| Social links
						.spacer
						p.text-grey.text-med
							a(href="https://github.com/stevelacy" target="_blank") Github.com/stevelacy
							br
							a(href="https://twitter.com/SteveDeLacy" target="_blank") Twitter.com/stevedelacy
							br
							a(href="http://about.me/stevelacy" target="_blank") About.me/stevelacy


				include ./footer
