#contact.footer.blue
	p.text-large.text-white.text-center.text-topspace
		| Contact
	a(href="https://twitter.com/SteveDeLacy" target="_blank")
		.blocks.trans.text-white
			| @SteveDeLacy

	a(href="mailto:me@slacy.me")
		.blocks.trans.text-white
			| me@slacy.me

.footer-base.text-center
	p.text-white.text-topspace
		img(src="images/diamond_w_s.png")
		br
		| &#169; 
		span#year
		|  slacy.me