include ./mixins/videos
include ./head
		title #{title}

	body.summer
		.wrap
			.banner.trans
				.logo
					include ./logo

				.menu-button.trans
					span MENU
					img(src="images/menu_icon_small.png")

			.main
				.menu

					include ./menu

				.top
					img.diamond(src="images/diamond_w.png")

				.content.white
					p.text-large.text-blue.text-indent
						| I Solve problems

					h3.text-med.text-grey.text-indent
						|	It is not all about the finished product.
						br
						|	The process can be interesting...

				.content.blue
					h1.text-large.text-white.text-indent
					.blocks
						p.text-white.text-indent.text-med
							| I Develop apps
						img(src="images/xtracker.png")

					.blocks
						p.text-white.text-indent.text-med
							| Web applications, and others

						img(src="images/code.png")

					div(style="clear:both")


				.content.pattern
					p.text-med.text-blue.text-indent.text-topspace
						|	Non code projects
					.blocks

						+youtube("rXLIghiyXtk", "hd1080")

						p.text-med.text-grey.text-indent
							| One Minute in Blender
					.blocks
						img.render(src="images/renders/3.jpg")
						p.text-med.text-grey.text-indent 1957 Ford Ranchero
						div(style="clear:both")


				include ./footer
