include ./head
		title #{title}

	body.background
		.wrap
			.banner.trans
				.logo
					include ./logo

				.menu-button.trans
					img(src="images/menu_icon_small.png")

			.menu
				include ./menu

			.main

				.top
					img.diamond(src="images/diamond_l.png")

				.content.grey
					//.modal
						.close
					p.text-large.text-blue.text-indent
						| I Solve problems

					h3.text-med.text-grey.text-indent
						|	It is not all about the finished product.
						br
						|	The process can be interesting...

				include ./footer
