include ./head
		title #{title}


	body
		.wrap
			.banner.trans

				.logo
					include ./logo

				a(style="color:#363636")

				.menu-button.trans
					span MENU
					img(src="images/menu_icon_small.png")


			.main
				.menu

					include ./menu


				.spacer
				.content.white
					.center-block
						img(src="/images/twitter-bricks/twitter-bricks.png" alt="twitter-bricks")
						p.text-large.text-blue
							| Twitter Bricks
						.text-med.text-grey
							| Realtime Streaming Tweet feed written in JavaScript for node.js
							br
							a(href="http://stevelacy.github.io/twitter-bricks/" target="_blank") github.io/
						.spacer

					.center-block
						img(src="/images/gulp-git/gulp-git.png" alt="gulp-git")
						p.text-large.text-blue
							| gulp-git
						.text-med.text-grey
							| Git plugin for gulp
							br
							a(href="http://github.com/stevelacy/gulp-git/" target="_blank") github.io/
						.spacer



				include ./footer
