@require '../../css/requires/colors'
@require '../../css/requires/fonts'

.component.footer
  position: relative
  width: 100%
  background: dgrey
  text-align: center
  padding: 3vw
  padding-bottom: 5vw
  height: 50vh
  .text
    font-rafale()
    position: relative
    background: rgba(0, 190, 220, .3)
    transition: all .5s
    padding: 1vw
    color: blue
    margin: 2vw
    font-size: 4vw
    border: 0.7vw solid rgba(0,0,0,0)
    display: inline-block
    top: 50%
    transform: translateY(-50%)
    &:hover
      background: rgba(0, 0, 0, .5)
      color: lighten(blue, 20%)
      border: 0.7vw solid blue
  .copy
    position: absolute
    left: 25vw
    bottom: 10px
    width: 50vw
    height: 20px
    text-align: center
    color: blue
    text-align: center
@media all and (max-width: 800px)
  .component.footer
    .text
      font-size: 10vw
      width: 90%
