@font-face
  font-family 'intro'
  font-style normal
  font-weight 200
  src: local('Intro') url(/fonts/intro.otf) format('opentype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'ostrich'
  font-style normal
  font-weight 200
  src: local('Ostrich') url(/fonts/ostrich.otf) format('opentype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'ostrich-lite'
  font-style normal
  font-weight 200
  src: local('OstrichLite') url(/fonts/ostrich-lite.otf) format('opentype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'rafale'
  font-style normal
  font-weight 200
  src: local('rafale') url(/fonts/rafale.ttf) format('truetype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


font-intro()
  font-family 'intro'

font-ostrich()
  font-family 'ostrich'

font-ostrich-lite()
  font-family 'ostrich-lite'

font-rafale()
  font-family 'rafale'
