@require 'nib'
@require '../../css/requires/fonts'

blue = #74daff

.component.navbar
  font-intro()
  fixed: top left right
  width: 100%
  height: 75px
  background: #fff
  box-shadow: 0 0 5px #555
  z-index: 8
  opacity: .99
  .logo
    absolute top left
    margin: 24px
    font-size: 30px
    .blue
      color: blue
