@import '../../css/imports/fonts'

.page.index
  display: block


  .content
    position: relative
    z-index: 1
    .box
      height: 50vh
      .left, .right
        width: 50%
        display: block
        float: left
        height: 100%

    .statement
      font-ostrich()
      width: 100%
      text-align: center
      font-size: 15vw
      position: relative
      top: 50%
      transform: translateY(-50%)
      .emphasis
        font-ostrich-lite()
