@import '../../css/imports/fonts'

.view.index
  display: block


  .content
    z-index: 1
    .statement
      font-ostrich()
      .emphasis
        font-ostrich-lite()
    .box
      transition: all 1s
      opacity: .2
      &.animated
        opacity: 1
